html {
  height: auto;
}

body {
  width: 581px;
  height: auto;
}

h5 {
  margin-top: 0;
  text-align: center;
}

a {
  color: rgb(33,150,243)
}

.left-options {
  float: left;
  width: 258px;
  padding: 14px 16px 22px;
  border-right: 1px solid #ccc;
}

.right-options {
  float: right;
  width: 258px;
  padding: 14px 16px 22px;
}

.buttons-container {
  clear: both;
  padding: 16px 16px 12px;
  border-top: 1px solid #ccc;
}

.thumbnail-preview {
  position: relative;
  width: 210px;
  margin: 0 auto;
}

.thumbnail-preview img {
  width: 210px;
}

.mdl-radio__label ytrb-bar {
  position: relative;
  margin-top: 10px;
  width: 210px;
}

.color-palette {
  display: flex;
  width: 190px;
  padding: 10px;
}

.color-palette>div>div {
  width: 10px;
  height: 10px;
}

.slider-label {
  position: relative;
}

.slider-input-container {
  margin: 32px -2px 0;
}

.slider-bubble {
  position: absolute;
  bottom: -14px;
  left: 52.5px;
  width: 52px;
  font-size: 16px;
  text-align: center;
}

.mdl-checkbox {
  padding-right: 24px;
}

#save-btn {
  float: right;
}

.mdl-snackbar__action {
  display: none;
}

.mdl-textfield--floating-label.is-invalid:not(.is-focused) .mdl-textfield__label {
  font-size: 16px;
  color: #bdbdbd;
}

/* Copied from content.style.css. */

ytrb-bar {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  z-index: 999;
  background-color: #cfcfcf;
  transition: opacity 0.2s ease-out 0.2s;
}

ytrb-rating {
  display: block;
  height: 4px;
  left: 0;
  background-color: #3095e3;
}

ytrb-bar.ytrb-bar-no-rating,
.ytrb-bar-color-green-red ytrb-bar.ytrb-bar-no-rating {
  background-color: #888;
}

.ytrb-bar-color-green-red ytrb-bar {
  background-color: #c00;
}

.ytrb-bar-color-green-red ytrb-rating {
  background-color: #060;
  box-shadow: 1px 0 0 0 #fff;
}

.ytrb-bar-separator ytrb-bar {
  border-top: 1px solid #fff;
}

ytrb-tooltip {
  display: flex;
  justify-content: center;
}
ytrb-tooltip>div {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  bottom: 8px;
  max-width: calc(100% - 24px);
  padding: 8px;
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  background-color: #616161;
  border-radius: 2px;
  font-family: 'Roboto', 'Noto', sans-serif;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out 0.2s;
}
ytrb-bar:hover {
  opacity: 1 !important;
}
ytrb-bar:hover ytrb-tooltip>div {
  visibility: visible;
  opacity: 0.9;
}

/* Allows users to disable the tooltip. */
ytrb-tooltip {
  display: none;
}
.ytrb-bar-tooltip ytrb-tooltip{
  display: flex;
}