/* Move the watch history progress bar to the top of the thumbnail. */
ytd-thumbnail-overlay-resume-playback-renderer,  /* Modern */
.resume-playback-background,  /* Classic */
.resume-playback-progress-bar,  /* Classic */
ytg-thumbnail-overlay-resume-playback-renderer  /* Gaming */
{
  top: 0 !important;
}
#bottom-thumbnail-overlay-badges  /* Gaming */
{
  height: calc(100% - 8px);
}
ytg-thumbnail-overlay-time-status-renderer /* Gaming */
{
  position: absolute;
  bottom: 4px;
  height: 15px;
}