#like-bar.ytd-sentiment-bar-renderer ,
.video-extras-sparkbar-likes /* For classic theme. */ {
  background-color: var(--ytrb-bar-likes-color) !important;
  position: relative;
}

#container.ytd-sentiment-bar-renderer,
.video-extras-sparkbar-dislikes /* For classic theme. */ {
  background-color: var(--ytrb-bar-dislikes-color) !important;
  box-shadow: var(--ytrb-bar-dislikes-shadow);
}