html {
  height: auto;
}

body {
  width: 581px;
  height: auto;
}

h6 {
  margin-bottom: 8px;
}

a {
  color: rgb(33,150,243)
}

.left-options {
  float: left;
  width: 258px;
  padding: 14px 16px 22px;
  border-right: 1px solid #ccc;
}

.right-options {
  float: right;
  width: 258px;
  padding: 14px 16px 22px;
  margin-left: -1px;
  border-left: 1px solid #ccc;
}

.buttons-container {
  clear: both;
  padding: 16px 16px 12px;
  border-top: 1px solid #ccc;
}

.thumbnail-preview {
  position: relative;
  width: 210px;
  margin: 0 auto;
}

.thumbnail-preview img {
  width: 210px;
}

.slider-label {
  position: relative;
}

.slider-input-container {
  margin: 32px -2px 0;
}

.slider-bubble {
  position: absolute;
  bottom: -20px;
  left: 52.5px;
  width: 52px;
  font-size: 16px;
  text-align: center;
}

.mdl-checkbox {
  padding-right: 24px;
}

#save-btn {
  float: right;
}

.mdl-snackbar__action {
  display: none;
}

.mdl-textfield--floating-label.is-invalid:not(.is-focused) .mdl-textfield__label {
  font-size: 16px;
  color: #bdbdbd;
}

ytrb-options-bar {
  display: block;
  position: relative;
  width: 210px;
  height: 4px;
  margin-top: 10px;
  z-index: 999;
  background-color: #cfcfcf;
}

ytrb-options-rating {
  display: block;
  height: 4px;
  left: 0;
  background-color: #3095e3;
}

ytrb-options-bar.ytrb-options-bar-color-green-red {
  background-color: #c00;
}

ytrb-options-bar.ytrb-options-bar-color-green-red ytrb-options-rating {
  background-color: #060;
  box-shadow: 1px 0 0 0 #fff;
}